.about {
    max-height: 660px;
    padding: 15px;

    @media (orientation: landscape) {
        max-height: 475px;
    }
    
    @media (min-width: 400px) 
    and (orientation : portrait) {
       max-height: 740px;
    }

    @media (min-width: 768px) {
        max-height: none;
        min-height: 600px;
    }
}

.about__experience-graph {
    height: 100%;
    margin: 0;
    position: relative;

    canvas {
        /* Any IPad portrait layout */
        @media only screen 
        and (min-device-width : 768px) 
        and (max-device-width : 1024px) 
        and (orientation : portrait) {
            margin: -140px 0;
        }
    }
}

.about {
    position: relative;
    z-index: 1;

    &__intro {
        margin: 0 auto;
        max-width: 1000px;

        @media (min-width: 768px) {
            padding: 0 20px;
        }
    }

    &__heading {
        font-size: 2rem;

        @media (min-width: 768px) {
            font-size: 3rem;
        }
    }

    &__content {
        font-size: 1.2rem;
        line-height: 1.4;
        
        @media (min-width: 768px) {
            font-size: 2rem;
        }
    }

    &__percentage {
        color: #000;
        font-size: 1.1rem;
        position: absolute;
        left: calc(50% - 145px);
        opacity: 0;
        
        @media (min-width: 768px) {
            left: calc(50% - 280px);
            font-size: 1.5rem;
        }

        &__value {
            display: none;
            position: absolute;
            left: 155px;
            top: 50%;
            transform: translateY(-50%);

            @media (min-width: 768px) {
                display: block;
            }
        }
    }

    &__html {
        top: 37px;

        @media (min-width: 768px) {
            top: 46px;
        }
    }

    &__css {
        top: 82px;
        
        @media (min-width: 768px) {
            top: 105px;
        }
        
    }

    &__js {
        top: 122px;

        @media (min-width: 768px) {
            top: 160px;
        }
    }

    &__react {
        top: 164px;

        @media (min-width: 768px) {
            top: 218px;
        }
    }

    &__rn {
        top: 206px;

        @media (min-width: 768px) {
            top: 275px;
        }   
    }

    &__node {
        top: 248px;

        @media (min-width: 768px) {
            top: 332px;
        }
    }

    &__next {
        top: 288px;

        @media (min-width: 768px) {
            top: 388px;
        }
    }

    &__graphql {
        top: 330px;

        @media (min-width: 768px) {
            top: 440px;
        }
    }

    &__aws {
        top: 372px;

        @media (min-width: 768px) {
            top: 500px;
        }
    }
}