@import "./variables.scss";

.contact {
    color: $primary;
    min-height: initial;
    padding: 15px;

    @media (min-width: $medium) {
        padding: 30px;
    }

    &__details {
        font-size: 1.2rem;
        margin-bottom: 60px;

        @media (min-width: $medium) {
            font-size: 1.6rem;
        }
    }

    &__email {
        font-size: 1.4rem;
        margin-bottom: 80px;
        text-align: center;

        @media (min-width: $medium) {
            font-size: 1.8rem;
        }
    }

    &__email__link {
        color: $primary;
        text-decoration: none;
    }
}