@import "./variables.scss";
@import "./layout.scss";
@import "./about.scss";
@import "./projects.scss";
@import "./contact.scss";
@import "./utils.scss";

html,
body {
    background-color: $primary;
    color: $secondary;
    margin: 0;
    height: 100%;
    width: 100%;

    &.fixed {
        position: fixed;
    }

    h1, h2, h3, h4 {
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 1px;
    }

    p {
        margin-top: 0;
    }

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: $primary;
    }

    &::-webkit-scrollbar-thumb {
        background: $highlight; 
        border: 1px solid $primary;
    }
}

.intro__content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 50%;
    min-width: 320px;
    transform: translate(-50%, -50%);
    z-index: 1;

    &[style] {
        left: 50% !important;
        top: 50vh !important;
        position: fixed !important;
        width: calc(100% - 30px) !important;
    }
}

.intro__image {
    margin-right: 15px;
    width: 100px;

    @media (min-width: 768px) {
        width: 150px;
    }
}

.intro__heading {
    @media (min-width: 768px) {
        font-size: 2rem;
        line-height: 1;
    }
}

.intro__sub-heading {
    @media (min-width: 768px) {
        font-size: 2rem;
        line-height: 1;
    }
}

.intro__sub-heading__text {
    display: inline-block;
}