@import "./variables.scss";

.section {
    font-family: 'Rajdhani', sans-serif;
    min-height: 100vh;
    overflow: hidden;

    &:nth-of-type(1) {
        background-color: $primary;
    }

    &:nth-of-type(2) {
        background-color: $primary;
    }

    &:nth-of-type(3) {
        background-color: $primary;
    }

    &:nth-of-type(4) {
        background-color: $highlight;
    }

    &.intro {
        height: calc(100vh + 500px);

        canvas {
            &[style] {
                opacity: 0.3;
                position: absolute;
                top: 0;
                left: 0;
                height: calc(100vh + 500px) !important;
                width: 100% !important;
            }
        }
    }

    &__heading {
        font-size: 2rem;
        margin: 10px 0 20px 0;

        @media (min-width: $medium) {
            font-size: 3rem;
            margin-bottom: 30px;
        }
    }
}

.max-width-wrapper {
    margin: 0 auto;
    max-width: 1000px;

    @media (min-width: $xlarge) {
        max-width: $xlarge;
    }
}