@import "./variables.scss";

.projects {
    padding-top: 15px;
    position: relative;

    &.animating {
        .project {
            transition: transform 500ms ease;
            transform: translateX(-100vw);
        }
    }

    &.active {
        .project__details {
            opacity: 1;
            transition: opacity 1000ms ease;
            pointer-events: initial;
        }

        .project__details__close {
            &::before,
            &::after {
                transition: width 500ms ease;
                width: 30px;
            }
        }
    }

    .project {
        border: 1px solid $secondary;
        border-radius: 4px;
        margin: 15px;
        overflow: hidden;
        position: relative;
        z-index: 2;
    }
    
    .project__image {
        height: auto;
        width: 100%;
    }
    
    .project__content {
        padding: 15px;
    }

    .project__title {
        margin-bottom: 15px;
        margin-top: 0;
    }

    .project__details-link {
        color: $primary;
        display: block;
        text-decoration: none;
        text-align: right;
    }

    .project__details {
        background: $primary;
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        overflow: hidden;
        pointer-events: none;
        transition: opacity 500ms ease;
        z-index: 3;
    }

    .project__details__close {
        cursor: pointer;
        position: absolute;
        right: 25px;
        top: 25px;

        &::before,
        &::after {
            background-color: $secondary;
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            height: 2px;
            width: 0px;
            transition: width 250ms ease;
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }

    .project__details__content {
        padding: 15px;
    }

    .project__details__image {
        width: 100%;
    }

    .shape-overlays {
        width: 100%;
        height: 100%;
        pointer-events: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
    }
    
    .shape-overlays.is-opened {
        pointer-events: auto;
    }
    
    .shape-overlays__path:nth-of-type(1) {
        fill: $tertiary;
    }
    
    .shape-overlays__path:nth-of-type(2) {
        fill: $secondary;
    }
    
    .shape-overlays__path:nth-of-type(3) {
        fill: $primary;
    }
    
    .shape-overlays__path:nth-of-type(4) {
        fill: $accent;
    }
}