/*
 * Avoids accessibility and SEO issues that come with other
 * methods like 'display: none', 'visibility: hidden', etc.
 */
 .hidden {    
    border: 0;
    clip: rect(0 0 0 0);
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    height: 1px;
    width: 1px;
}