$primary: #121212;
$secondary: #D8DBE2;
$tertiary: #373f51;
$highlight: #3fcaa3;
$accent: #A9BCD0;

$barWidthSmall: 200px;
$barHeightSmall: 20px;
$barHeightMedium: 30px;

$small: 360px;
$medium: 600px;
$large: 900px;
$xlarge: 1200px;